@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes color_change {
  from {
    background-color: var(--color-orange);
  }
  to {
    background-color: transparent;
  }
}
