.image-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .image-container img{
    height: auto;
    max-width: 200px;
  }
  
  @media screen and (max-width: 992px) {
    .image-container img{
      max-width: 150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .image-container img{
      max-width: 100px;
    }
  }